@if (isMobile()) {
  <p-sidebar-backdrop class="absolute!" />
}

<p-sidebar
  id="mobile-nav"
  [collapsible]="isMobile() ? 'offcanvas' : 'icon'"
  [overlay]="isMobile()"
  [(open)]="sidebarOpen"
  width="14rem"
  class="border-r-gray-600"
>
  <p-sidebar-spacer />
  <p-sidebar-aside class="border-r border-r-gray-600/50">
    <p-sidebar-panel>
      <p-sidebar-header class="px-2 py-2">
        <p-sidebar-menu>
          <p-sidebar-menu-item>
            <button pSidebarMenuButton class="p-1!">
              <img
                src="favicon/favicon-96x96.png"
                alt="Buzz buzz buzzz"
                class="flex size-6 shrink-0"
              />

              <span class="font-semibold text-sm">Addinson's Halte 🥀</span>
            </button>
          </p-sidebar-menu-item>
        </p-sidebar-menu>
      </p-sidebar-header>

      <p-sidebar-content>
        @for (group of menuGroups(); track group.label) {
          <p-sidebar-group>
            <p-sidebar-group-label
              class="px-3 py-2 text-xs font-semibold text-muted-color uppercase tracking-wider"
            >
              {{ group.label }}
            </p-sidebar-group-label>

            <p-sidebar-group-content>
              <p-sidebar-menu class="flex flex-col gap-3">
                @for (item of group.items; track item.label) {
                  <p-sidebar-menu-item>
                    <a
                      pSidebarMenuButton
                      [routerLink]="item.route"
                      routerLinkActive="bg-surface-100 dark:bg-surface-800 font-medium"
                      [routerLinkActiveOptions]="{ exact: true }"
                      #rla="routerLinkActive"
                      [isActive]="rla.isActive"
                      (click)="onNavClick()"
                      class="flex items-center gap-3 px-1.5 py-2 w-full rounded-md hover:bg-surface-100 dark:hover:bg-surface-800 transition-colors cursor-pointer"
                    >
                      <i [class]="item.icon + ' shrink-0 text-lg'"></i>
                      <span class="ms-2">{{ item.label }}</span>

                      @if (item.badge) {
                        <p-sidebar-menu-badge class="ml-auto bg-green-400/50 text-white">
                          {{ item.badge }}
                        </p-sidebar-menu-badge>
                      }
                    </a>
                  </p-sidebar-menu-item>
                }
              </p-sidebar-menu>
            </p-sidebar-group-content>
          </p-sidebar-group>
        }
      </p-sidebar-content>

      <p-sidebar-footer class="px-1 py-3 border-t border-surface-200 dark:border-surface-700">
        <p-sidebar-menu>
          <p-sidebar-menu-item>
            <button
              pSidebarMenuButton
              class="flex items-center gap-3 p-0.5 w-full rounded-md hover:bg-surface-100 dark:hover:bg-surface-800 transition-colors"
            >
              <p-avatar label="JD" shape="circle" class="size-8 shrink-0 text-xs font-bold" />
              <span class="font-medium text-sm">John Doe</span>
            </button>
          </p-sidebar-menu-item>
        </p-sidebar-menu>
      </p-sidebar-footer>
    </p-sidebar-panel>
  </p-sidebar-aside>
</p-sidebar>
