@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

th {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

td {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}
